<h2>Welcome to Our E-Commerce Store</h2>

<div class="product-list" *ngIf="!addressDetail">
  <div class="product" *ngFor="let product of products">
    <img [src]="product.imageUrl" alt="Product Image">
    <h3>{{ product.name }}</h3>
    <p>Price: {{ product.price }}</p>
    <div>
        <button (click)="removeFromCart(product)">-</button>
        <span> &nbsp; &nbsp; Quantity :{{product.quantity }}</span>
        <button (click)="addToCart(product)">+</button>
      </div>
      <button id="butt" (click)="addressDetail=true">Buy Now</button>
    </div>
</div>

<div class="address-container" *ngIf="addressDetail">
    <button class="add-address-button" (click)="addAddressForm()">+ Add Address</button>
    <form class="address-form" *ngFor="let form of addressForms">
      <input type="text" name="addressLine1" placeholder="Address Line" required>
      <input type="text" name="country" placeholder="Country" required>
      <input type="text" name="state" placeholder="State" required>
      <input type="text" name="city" placeholder="City" required>
      <input type="text" name="pincode" placeholder="Pincode" required>
      <button type="submit">Submit</button>
    </form>
  </div>
  

  